---
import Prose from '../components/Prose.astro'
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description}>
	<Prose>
		<div class="pb-24">
			<h1 class="text-lg lg:w-2/5">{frontmatter.title}</h1>
			<h2 class="text-5xl lg:w-2/5">{frontmatter.description}</h2>
			<p>{frontmatter.tags}</p>
		</div>
		<slot />
	</Prose>
</BaseLayout>
